.logo {
    background: rgba(255, 255, 255, 0.2);
    margin: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.font-logo {
    font-family: 'Sacramento', sans-serif;
    font-size: 45px;
} 

.list-icon {
    color: black;
}

.list {
    margin-right: -10px;
    margin-left: 20px;
}